body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.43;
  color: #525252;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#app {
  margin: 1rem 3rem 0rem 3rem;
}

.hostIcon img {
  height: 65px;
  border-radius: 50%
}

h1 {
  margin: 0px 0px 0px 0px;
}

.house {
  width: 80%;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.border {
  margin-top: 3px;
  margin-bottom: 23px;
}

.line {
  border: solid #ebebeb;
  border-width: 1px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
}

.villa {
  display: flex;
  margin-bottom: 10px;
}

.icon {
  padding-right: 11px;
  padding-top: 2px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  min-width: 15px;
  padding-top: 5px;
}

.bedroom {
  display: inline-flex;
}

.guests {
  margin-right: 20px;
}

.highlight {
  display: flex;
}

.strongColor {
  color: #368a8f;
  font-weight: 600;
  
}

.pair {
  margin-top: 15px
}

.none {
  display: none;
}

.show {
  visibility: visible;
  margin-bottom: 20px;
}

.readMoreSpace {
  margin-top: 25px;
}

.contactHost {
  margin-top: 25px
}

.amenitiesContainer {
  display: flex;
  margin-top: 15px;
}

.topLeft {
  display: flex;
  padding: 2px;
  margin-bottom: 15px;
  color: #6b6b6b;
}

.icons {
  padding-right: 11px;
  padding-top: 2px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  min-width: 15px;
  padding-top: 5px;
}

.wifi {
  margin-left: 6rem;
}

strong {
  cursor: pointer;
}

.strong:hover {
  text-decoration: underline;
}

.basic h3 {
  margin-top: 25px;
  margin-bottom: 25px
}

.dining h3 {
  margin-top: 45px;
  margin-bottom: 25px
}

.bedAndBath h3 {
  margin-top: 45px;
  margin-bottom: 25px
}

.safety h3 {
  margin-top: 45px;
  margin-bottom: 25px
}


.modalAm {
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:  rgba(255, 255, 255, 0.65);
}

.amenitiesContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #dfdfdf;
  width: 80%;
  max-width: 35rem;
  padding: 1rem 2rem 4rem 2rem;
  box-shadow: 0 0 20px #d2d2d2;
}

.leaveModal {
  font-size: 40px;
  font-weight: 100;
  line-height: 1;  
  color: #929292;
  cursor: pointer;
}

.sleep {
  margin-top: 20px
}
